* {
  background-color: #222831;
  color: whitesmoke;
}

body {
        font-family: Times New Roman;
        margin: 1rem; 
    }

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

h2 {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

h3 {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.p-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

h2 {
  color: #DFD0B8;
}

h4 {
  color:#DFD0B8;
}


