body {
        font-family: Times New Roman;
        margin: 1rem; 
    }

.container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

h2 {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

h3 {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.p-container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}
