* {
  background-color: #222831;
  color:whitesmoke; 
}

body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 1rem; 
    }

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

b {
  color: #DFD0B8;
}
h2 {
  display: flex;
  color: #DFD0B8;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

h3 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: #DFD0B8;    
}

.p-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

h4 {
  color: #DFD0B8;
}

hr {
  border: none;
  height: 3px;
  background-color: #393E46;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: none;
  gap: 20px;
  font-weight: bold;
}

.img-project {
  height: 200px;
  border-radius: 1rem;
  width: 400px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #948979;
}

.img-prototype {
  height: 200px;
  border-radius: 1rem;
  width: 300px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



